
# immer ssl, nie www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^hahn.mg$ [OR]
RewriteCond %{HTTP_HOST} ^www.hahn.mg$
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://hahn.mg/$1 [R,L]

# autokompression
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript
